<h2><%= categories.name %></h2>

<% if (currentUser) { %>
    <a href="/messages/new">新規スレッド作成</a>
<% } %>

<!--<ul>-->
<!--    <%# messages.forEach(message => { %>-->
<!--        <li><a href="/messages/<%# message._id %>"><%# message.title %></a></li>-->
<!--    <%# }); %>-->
<!--</ul>-->