<div>
    <form action="/threads/create" method="POST">
        <h2>Create a new thread:</h2>
        <label for="inputTitle">Title: </label>
        <input type="text" name="title" id="inputTitle" placeholder="Title" autofocus required>
        <br>
        <label for="inputMessage">Message: </label>
        <input type="text" name="message" id="inputMessage" placeholder="Message" required>
        <br>
        <button type="submit">Create</button>
    </form>
</div>