<div>
    <form action="/threads/create" method="POST">
        <h2>スレッド 新規作成</h2>
        <label for="inputTitle">タイトル：</label>
        <input type="text" name="title" id="inputTitle" placeholder="Title" autofocus required>
        <br>
        <label for="inputMessage">メッセージ：</label>
        <input type="text" name="message" id="inputMessage" placeholder="Message" required>
        <br>
        <button type="submit">作成</button>
    </form>
</div>