<h2>User Data for <%= user.loginId %></h2>

<table>
    <tr>
        <th>Login ID</th>
        <td><%= user.loginId %></td>
    </tr>
    <tr>
        <th>Name</th>
        <td><%= user.userName %></td>
    </tr>
</table>

<div>
    <a href="/users">一覧へ戻る</a>
</div>